<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean name="user" class="com.hcl.User">
		<property name="name" value="Surya"></property>
		<property name="password" value="surya"></property>
	</bean>
	<bean name="box" class="com.hcl.Box">
		<property name="user" ref="user"></property>
		<property name="width" value="12"></property>
		<property name="length" value="10"></property>
	</bean>

</beans>
