<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean name="orderOne" class="com.hcl.Order">
		<property name="itemName" value="item1"></property>
		<property name="price" value="230.07"></property>
	</bean>
	<bean name="orderTwo" class="com.hcl.Order">
		<property name="itemName" value="item2"></property>
		<property name="price" value="230.07"></property>
	</bean>
	<bean name="user" class="com.hcl.User">
		<property name="name" value="Jegan"></property>
		<property name="age" value="24"></property>
		<property name="city" value="Chennai"></property>
		<property name="order" ref="orderTwo"></property>
	</bean>
</beans>
