<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean name="address" class="com.hcl.Address">
		<property name="line1" value="2/115 Anna Nager" />
		<property name="line2" value="Kaveripattinam" />
		<property name="city" value="Krishnagiri" />
		<property name="pincode" value="635112" />

	</bean>
	<bean name="employee" class="com.hcl.Employee">
		<property name="employeeName" value="Sathish"></property>
		<property name="employeeMobileNumber" value="9566259957"></property>
		<property name="employeeSalary" value="45000"></property>
		<property name="employeeEmail" value="me@gmail.com"></property>
		<property name="address" ref="address"></property>
	</bean>
</beans>
